<!DOCTYPE html>

<html>
    <title>About</title>
    <head> 
        <link rel="icon" href="/img/weather.png" />       
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>

    <body>
        {{>header}}
        <p>This website uses data from mapbox.com and darksky.net to supply weather information.</p>
        <div class="container">
                <img src="https://loremflickr.com/320/240" />
        </div>
        {{>footer}}
    </body>
</html>